* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 100px;
  /* background: linear-gradient(#2e31ff, #9198e5); */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(32, 52, 92, 1) 76%,
    rgba(32, 60, 92, 1) 100%
  );
  position: relative;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.navbar li {
  padding-right: 30px;
  font-size: 18px;
  font-weight: 600;
  list-style: none;
  color: white;
  cursor: pointer;
}
.navbar li:first-child a {
  position: absolute;
  color: white;
  top: 30px;
  left: 30px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
}

i.fa-magnifying-glass {
  color: #fff;
}
i.fa-phone {
  color: #fff;
  font-size: 15px;
  padding-right: 10px;
}
